---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"batch":"Batch1","billCycleDay":15,"billToContact":{"country":"US","firstName":"Test","lastName":"User","state":"TX"},"creditCard":{"cardHolderInfo":{"addressLine1":"123
        Anystreet Lane","cardHolderName":"Test User","city":"Anytown","country":"US","state":"TX","zipCode":"00000"},"cardNumber":"4111111111111111","cardType":"Visa","expirationMonth":"12","expirationYear":"2099","securityCode":"123"},"currency":"USD","name":"Test
        Account","paymentTerm":"Due Upon Receipt"}'
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92a0fc5d8298f6015da36b14df1d04",
          "accountNumber" : "Z00324067",
          "paymentMethodId" : "2c92a0fc5d8298f6015da36b14f31d0a"
        }
  recorded_at: Wed, 02 Aug 2017 14:48:10 GMT
recorded_with: VCR 3.0.3
