---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/object/account
    body:
      encoding: UTF-8
      string: '{"Batch":"Batch1","BillCycleDay":15,"Currency":"USD","Name":"Test Account","PaymentTerm":"Due
        Upon Receipt","Status":"Draft"}'
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":true,"Id":"2c92a0fc5d8298f5015da36b18a34507"}

'
  recorded_at: Wed, 02 Aug 2017 14:48:11 GMT
recorded_with: VCR 3.0.3
