---
http_interactions:
- request:
    method: delete
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc5d8298f6015da36b14df1d04
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"2c92a0fc5d8298f6015da36b14df1d04","success":true}

'
  recorded_at: Wed, 02 Aug 2017 14:48:12 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc5d8298f6015da36b14df1d04
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Wed, 02 Aug 2017 14:48:14 GMT
[...]
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc5d8298f5015da36b18a34507
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Wed, 02 Aug 2017 14:48:15 GMT
recorded_with: VCR 3.0.3
