---
http_interactions:
- request:
    method: delete
    uri: https://rest.zuora.com/v1/object/account/2c92a0fd5c832adb015c8def9fd9081c
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"2c92a0fd5c832adb015c8def9fd9081c","success":true}

'
  recorded_at: Fri, 09 Jun 2017 17:38:32 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fd5c832adb015c8def9fd9081c
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Fri, 09 Jun 2017 17:38:33 GMT
[...]
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fe5c7d8185015c8defa5374aa8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Fri, 09 Jun 2017 17:38:33 GMT
recorded_with: VCR 3.0.3
