---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/describe/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<objects>\r\n\t<object
        href=\"https://api.zuora.com/rest/api/describe/Account\">\r\n     <name>Account</name>\r\n
        \    <label>Account</label>\r\n</object>\r\n\r\n\r\n\r\n\t<object href=\"https://api.zuora.com/rest/api/describe/AccountingCode\">\r\n
        \    <name>AccountingCode</name>\r\n     <label>Accounting Code</label>\r\n</object>\r\n\r\n\r\n\r\n\t<object
        href=\"https://api.zuora.com/rest/api/describe/AccountingPeriod\">\r\n     <name>AccountingPeriod</name>\r\n
        \    <label>AccountingPeriod</label>\r\n</object>\r\n\r\n\r\n\r\n\t<object
        href=\"https://api.zuora.com/rest/api/describe/Amendment\">\r\n     <name>Amendment</name>\r\n
        \ [...]
