---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/describe/Account
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<object href=\"https://api.zuora.com/rest/api/describe/Account\">\r\n
        \  <name>Account</name>\r\n   <label>Account</label>\r\n   <fields>\r\n      <field>\r\n
        \        <name>AccountNumber</name>\r\n         <label>Account Number</label>\r\n
        \        <selectable>true</selectable>\r\n         <createable>true</createable>\r\n
        \        <updateable>true</updateable>\r\n         <filterable>true</filterable>\r\n
        \        <custom>false</custom>\r\n         <maxlength></maxlength>\r\n         <required>false</required>\r\n
        \        <type>text</type>\r\n         <contexts>\r\n            <context>soap</context>\r\n
        \           <context>export</context>\r\n         </contexts>\r\n      </field>\r\n
        \     <field>\r\n         <name>ACHVerificationCode__c</name>\r\n         <label>ACH
        Verification Code</label>\r\n         <selectable>true</selectable>\r\n         <createable>true</createable>\r\n
        \        <updateable>true</updateable>\r\n         <filterable>true</filterable>\r\n
        \        <custom>true</custom>\r\n         <maxlength>255</maxlength>\r\n[...]
