---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/accounts/2c92a0fd5c832adb015c8def9fd9081c
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "basicInfo" : {
            "id" : "2c92a0fd5c832adb015c8def9fd9081c",
            "name" : "Test Account",
            "accountNumber" : "Z00324059",
            "notes" : null,
            "status" : "Active",
            "crmId" : null,
            "batch" : "Batch1",
            "invoiceTemplateId" : "2c92a0fb49377eae0149505ce4814ece",
            "communicationProfileId" : null,
            "Bucket2__c" : null,
            "Bucket3__c" : null,
            "Bucket4__c" : null,
            "Bucket1__c" : null,
            "memberid__c" : null,
            "LineofBusiness__c" : null,
            "BucketTotal__c" : null,
            "BusinessUnit__c" : null,
            "VATNumber__c" : null,
            "ProfileGroup__c" : null,
            "LatestDunningEmailSubject__c" : null,
            "TestAccountField__c" : null,
            "SuppressDunning__c" : null,
            "ACHVerificationCode__c" : null,
            "publisher__c" : null,
            "DellAffinityNo__c" : null,
            "ACHVerificationTimestamp__c" : null
          },
          "billingAndPayment" : {
            "billCycleDay" : 15,
            "currency" : "USD",
            "paymentTerm" : "Due Upon Receipt",
            "paymentGateway" : null,
            "invoiceDeliveryPrefsPrint" : false,
            "invoiceDeliveryPrefsEmail" : false,
            "additionalEmailAddresses" : [ ]
          },
          "metrics" : {
            "balance" : 0E-9,
            "totalInvoiceBalance" : 0E-9,
            "creditBalance" : 0E-9,
            "contractedMrr" : 0E-9
          },
          "billToContact" : {
            "address1" : null,
            "address2" : null,
            "city" : null,
            "country" : "United States",
            "county" : null,
            "fax" : null,
            "firstName" : "Test",
            "homePhone" : null,
            "lastName" : "User",
            "mobilePhone" : null,
            "nickname" : null,
            "otherPhone" : null,
            "otherPhoneType" : null,
            "personalEmail" : null,
            "state" : "Texas",
            "taxRegion" : null,
            "workEmail" : null,
            "workPhone" : null,
            "zipCode" : null,
            "State2__c" : null
          },
          "soldToContact" : {
            "address1" : null,
            "address2" : null,
            "city" : null,
            "country" : "United States",
            "county" : null,
            "fax" : null,
            "firstName" : "Test",
            "homePhone" : null,
            "lastName" : "User",
            "mobilePhone" : null,
            "nickname" : null,
            "otherPhone" : null,
            "otherPhoneType" : null,
            "personalEmail" : null,
            "state" : "Texas",
            "taxRegion" : null,
            "workEmail" : null,
            "workPhone" : null,
            "zipCode" : null,
            "State2__c" : null
          },
          "taxInfo" : null,
          "success" : true
        }
  recorded_at: Fri, 09 Jun 2017 17:38:30 GMT
recorded_with: VCR 3.0.3
