---
http_interactions:
- request:
    method: put
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc5d8298f5015da36b18a34507
    body:
      encoding: UTF-8
      string: '{"Batch":"Batch2"}'
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Success":true,"Id":"2c92a0fc5d8298f5015da36b18a34507"}

'
  recorded_at: Wed, 02 Aug 2017 14:48:11 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc5d8298f5015da36b18a34507
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AccountNumber":"Z00324068","AllowInvoiceEdit":false,"InvoiceTemplateId":"2c92a0fb49377eae0149505ce4814ece","AutoPay":false,"InvoiceDeliveryPrefsPrint":false,"UpdatedDate":"2017-08-02T10:48:11.000-04:00","CreditBalance":0,"BillCycleDay":15,"BcdSettingOption":"ManualSet","PaymentTerm":"Due
        Upon Receipt","SuppressDunning__c":"false","Batch":"Batch2","CreatedById":"2c92a0fe5d8298e1015da3596e331713","CreatedDate":"2017-08-02T10:48:11.000-04:00","Name":"Test
        Account","Balance":0,"Id":"2c92a0fc5d8298f5015da36b18a34507","InvoiceDeliveryPrefsEmail":false,"Currency":"USD","Status":"Draft","TotalInvoiceBalance":0,"UpdatedById":"2c92a0fe5d8298e1015da3596e331713"}

'
  recorded_at: Wed, 02 Aug 2017 14:48:11 GMT
recorded_with: VCR 3.0.3
